div(class = "col-6")
	footer
		h1 Это подвал
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem earum numquam sit tenetur odio impedit corporis modi aperiam non? Iste eius deleniti accusamus, dignissimos minus quibusdam minima perspiciatis provident modi.