
- var name = "active"//-переменные

div(class="col-6")
	div(class = "header" id = "box")
		h1 Это шапка сайта!)))
		p(class = "desc" id=name) Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit at corporis eligendi mollitia ipsam. Ab pariatur dolores dignissimos, amet quibusdam mollitia totam ut sed provident esse, aliquid, alias hic repudiandae.